[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pg8000 = "*"
fuzzywuzzy = "*"
tabulate = "*"
odfpy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.9"
